<div class="container">
    <h2>Phone Number</h2>
    <form novalidate [formGroup]="contactForm" (ngSubmit)='onSubmit()'>
        <div formArrayName="phoneNumbers">
            <div *ngFor="let phNum of phoneNumbers.controls; let i=index">
                <mat-form-field>
                    <input matInput placeholder="Phone Number {{i+1}}" type="text" [formControlName]="i">
                </mat-form-field>
                <button type="button" mat-button class="btn-danger" (click)='removeNumber(i)' *ngIf="delButtonEnabled">
                    <span class="material-icons">
                        delete
                    </span>
                </button>
            </div>
    
        </div>
        <div fxLayout='row'
             fxLayoutGap='15px'>
            <button type="button" mat-button class="btn-secondary" (click)='addNumber()'>
                <span class="material-icons">
                    add
                </span>
            </button>
            <button mat-button class="btn-primary" type="submit">
                <span class="material-icons">
                done
                </span>
            </button>    
        </div>        
    </form>
</div>